/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/beam/styles.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.styles_meteor__lktYZ {
  transform: rotate(-180deg);
  animation: styles_meteor__lktYZ 3s linear;
  /* Add variables for animation delay and duration */
  animation-delay: var(--meteor-delay, 0s);
  animation-duration: var(--meteor-duration, 2s);
}

.styles_meteor__lktYZ::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: var(--meteor-width, 50px);
  height: 1px;
  background: linear-gradient(
    90deg,
    var(--cyan-500),
    var(--blue-500),
    transparent
  );
}

@keyframes styles_meteor__lktYZ {
  0% {
    left: 0;
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}

